.buttonContainer {
  align-items: 'center';
  margin-bottom: 20;
}
.button {
    height: 40;
    width: 160;
    border-radius: 20;
    background-color: 'JS(Color.primary)';
}
.buttonText {
    font-size: 15;
    font-family: 'JS(Constants.fontHeader)';
}
